.image {
  height: 64px;
  width: 64px;
  float: right;
}
.textField {
  background: #595959;
  width: 92%;
  font-size: 18;
  color: white;
  margin-bottom: 2%;
}
.menuItem {
  justify-content: right;
  z-index: 20;
  position: relative;
}
