.textFieldContainer {
    margin: 0;
    position: absolute;
    height: 130px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.backButton {
    color: white;
    background-color: #333333;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 20px 20px;
}
.primaryButton {
    width: 30%;
    background-color: #333333;
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 18px;
    color: white;
    box-shadow: 0 0 8px 0 white;
}
.enterButton {
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: #333333;
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 18px;
    color: white;
    box-shadow: 0 0 8px 0 white;
}
.textField {
    background: #595959;
    width: 90%;
    font-size: 18;
    height: 55px;
    color: white;
    margin-bottom: 10;
}